.menu-h ul{
  list-style: none;
  padding: 0 35%;
  background-color: #228B22;   
}

.menu-h ul li{
  display: inline;
}

.menu-h ul li a{
  color: 	#F0FFF0;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  transition: background ,4s; 
}

.menu-h ul li a:hover{
  background-color: #3CB371;
  
}